@import "accordion.scss";
@import "subterms-nav.scss";
@import "sidebar.scss";
@import "tabs.scss";

.sedoo-intranet-page {
    [role="listNews"], [class*="apiext"] {
        margin-top:30px;
    
        &.post-wrapper .post {
            flex: 0 1 250px;
        }

        &.content-list {
            article.post {
                // box-shadow: 0 3px 5px rgba(0,0,0,0.3);
                // margin-bottom:20px;
                padding: 10px 10px 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;

                .entry-header {
                    max-width: 120px;
                    ul {
                        position: static;
                        list-style: none;
                        margin-left:0;

                        .tag a {
                            padding-top:0;
                        }
                    }
                    p {
                        position: static;
                        background-color: transparent;
                        color:inherit;
                        margin:0;
                        padding: 0 10px;
                    }
                }

                .group-content {
                    max-width: 80%;
                    padding-left: 20px ;
                    border-left: 2px solid var(--theme-color);
                    .entry-content {
                        h2 {
                            margin-top: 0px;
                            font-size: 1rem;
                        }
                        .date {
                            font-weight: normal;
                        }
                    }
                }
                
                // &::after {
                //     content: "";
                //     height: 1px;
                //     margin-left: 120px;
                //     width: 80%;
                //     background: #CCC;
                // }
            }
        }
    }
}

