@import "accordion.scss";
@import "subterms-nav.scss";
@import "sidebar.scss";
@import "tabs.scss";
@import "tooltip.scss";
@import "homepageIntranet.scss";

.sedoo-intranet-page {
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    [role="listNews"], [class*="apiext"] {
       
        &.post-wrapper .post {
            flex: 0 1 250px;
        }

        &.content-list {
            article.post {
                padding: 10px 10px 20px 0;

                .group-content {
                    width: 100%;
                    padding-left: 20px ;
                    border-left: 2px solid var(--theme-color);
                    .entry-content {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        h2 {
                            margin-top: 0px;
                            font-size: 1rem;
                        }
                        ul {
                            position: static;
                            list-style: none;
                            margin-left:0;
    
                            .tag {
                                display: inline-block;
                                
                                a {
                                    padding-top:0;
                                    font-size: .70rem;

                                    &:hover {
                                        background-color: var(--theme-color);
                                        color:var(--hover-textcolor);
                                    }
                                }
                            }
                        }
                        p {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    #taxoNews [role="listNews"], 
    [role="listNews"].sedoo_blocks_listearticle {
        justify-content:flex-start;

        &.post-wrapper .post {
            flex: 0 1 320px;
        }
    }
    #taxoNews {
        margin-top:30px;
        border-top:2px solid var(--theme-color);
        h2 {
            margin-bottom:20px;
        }
    }

}

