.sedoo-intranet-page {

    &> section[data-role="sedoo-intranet-page-content"] {
        flex:1 1 400px;
        margin-right: 40px;
    }
    &> aside.contextual-sidebar {
        flex:1 1 300px;
        
        padding: 0;

        > section {
            background-color: #F0F0F0;
            &:nth-child(2n){
                background-color: #E0E0E0;
            } 
            > div {
                padding:20px;
            }
            div.description {
                padding:10px;
                font-size: .75rem;
            }
        }

        .h3 {
            font-size: 1.5rem;
            color:#FFF;
            font-family: "Open Sans", sans-serif;
            background-color: var(--theme-color);
            padding: 9px 10px 5px;
            margin-bottom: 0;

            .material-icons {
                color:#FFF;
            }
        }
        
    }
}