.sedoo-intranet-page {

    &> section[data-role="sedoo-intranet-page-content"] {
        flex:1 1 500px;
        margin-right: 40px;
    }
    &> aside.contextual-sidebar {
        flex:1 1 200px;
        
        padding: 0;

        > section {
            background-color: #f4f4f4;
            border-radius: 20px;
            margin-bottom:20px;

            > div {
                padding:20px;
            }
            div.description {
                padding:10px;
                font-size: .75rem;
            }
        }

        .h3 {
            font-size: 1.5rem;
            color:#FFF;
            font-family: "Open Sans", sans-serif;
            background-color: var(--theme-color);
            padding: 10px 20px 5px;
            margin-bottom: 0;
            border-radius: 20px 20px 0px 0px;

            .material-icons {
                color:#FFF;
            }
        }
        
    }
}