nav[id="subterms"] {
    background:var(--theme-color);
    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-right: 20px;
            &.tag {
                a {
                    color:var(--hover-textcolor);
                    padding:5px 10px;
                    &:hover {
                        color:#333;
                    }
                }
                
            }
        }
    }
    
}

div#catList div.tag {
    background:var(--theme-color);
    a {
        color:var(--hover-textcolor);
        padding:5px 10px;
        &:hover {
            color:#333;
        }
    }
}
