/**
* https://www.w3schools.com/css/css_tooltip.asp
**/
.tooltip {
    position: relative;
    display: inline-block;
    .material-icons {
        cursor: pointer;
        font-size: 1rem;
        color:var(--theme-color);
    }
    .tooltiptext {
        visibility: hidden;
        display: block;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 4px;
       
        /* Position the tooltip text*/
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 105%; 

        &.tooltiptop {
          top:-25px;
          left:0;
        }
      }
    /* Show the tooltip text when you mouse over the tooltip container */
    &:hover .tooltiptext {
        visibility: visible;
      }
  }

  

