$blue1: #90BCD1;
$blue2:#118DA0;
$blue3:#236f82;
$blue4: #2D4F59;
$green1: #B6CC49;
$green2: #7DBF3B;
$green3:#3EABA2;
$green4: #276B65;
$yellow1: #DD9946;
$yellow2:#fcb900;
$orange1: #E57E10;
$cnrs: #04365d;//#0660ff;

$ut3:#fbca00;
$ird:#e20613;

/* Générique */
/* ========================= */
/* Root */
:root{
/* FORMULAIRE */
--formulaireBlock-color:#{$green1};
--applicationBlock-color:#{$green4};
--contactBlock-color:#{$blue3};
--cnrs-color:#{$cnrs};
--ird-color:#{$ird};
--ut3-color:#{$ut3};
--borderRadiusTuile:10px;
}