$blue1: #90BCD1;
$blue2:#118DA0;
$blue3:#236f82;
$blue4: #2D4F59;
$green1: #B6CC49;
$green2: #7DBF3B;
$green3:#3EABA2;
$green4: #276B65;
$yellow1: #DD9946;
$yellow2:#fcb900;
$orange1: #E57E10;

/* Générique */
/* ========================= */
/* Root */
:root{
/* FORMULAIRE */
// --formulaireBlock-Color:#3EABA2;
--formulaireBlock-Color:#{$yellow2};
--applicationBlock-Color:#{$green4};
--contactBlock-Color:#{$blue3};
--borderRadiusTuile:20px;
}