$finances: #90BCD1;
$rh: #B6CC49;
$logistique: #DD9946;
$communication: #7DBF3B;
$service: #E57E10;
$informatique: #2D4F59;
$compte-rendu:#118DA0;

/* Générique */
/* ========================= */
/* Root */
:root{
/* FORMULAIRE */
--formulaireBlock-Color:#3EABA2;
--applicationBlock-Color:#276B65;
--contactBlock-Color:#54EBDE;
--borderRadiusTuile:20px;
}

// .finances-bg {
//     background:$finances;
//     color:#FFFFFF;
// }

// .rh-bg {
//     background:$rh;
//     color:#FFFFFF;
// }

// .logistique-bg {
//     background:$logistique;
//     color:#FFFFFF;
// }

// .communication-bg {
//     background:$communication;
//     color:#FFFFFF;
// }

// .service-bg {
//     background:$service;
//     color:#FFFFFF;
// }

// .informatique-bg {
//     background:$informatique;
//     color:#FFFFFF;
// }

// .compte-rendu-bg {
//     background:$compte-rendu;
//     color:#FFFFFF;
// }

