[data-role="sedoo-intranet-page-content"] {
    animation-name: slide_in_left;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;

    ul {
        margin-left:40px;
        li:not(.tag) {
            list-style-type: disc;
        }
    }
}

.legend {
    display: flex;
    justify-content: space-between;
    // margin-bottom:20px;
    font-size: .75rem;
    font-style: italic;

    .material-icons {
        font-size: .8rem;
    }
}

.content-area {
    main {
        padding-left:20px;
    }
    section[data-role="sedoo-intranet-page-content"] {
        .entry-content {
            h2 {
                a {
                    color:#000;
                }
                &:hover {
                    color:#FFF;
                }
            }
        }
        p, table {
            a {
                color:var(--theme-color);
                display: inline-block;
                position: relative;
                z-index:0;
                
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 1px;
                    background-color: var(--theme-color);
                    transition: all .2s;
                    z-index:1;
                }
                &:hover {
                    color:var(--hover-textcolor);
                    background-color: var(--theme-color);
                }
            }
        }
    }  
}  

aside[id="stickyMenu"] {
    border:none;
}
.asideHome{
    padding: 10px 30px;
    border-radius: 20px;
}

.sedoo_404 {
    h1 {
        font-size: 7rem;
    }
    h2 {
        margin:20px 0;
        text-align: center;
        border:1px solid #000;
        border-radius: 5px;
    }
    p {
        text-align: left;
        font-weight: normal;
    }
    
    .row_404 {
        justify-content: space-evenly;
    }
}



@import "general/colors.scss";
@import "general/typo.scss";