[data-role="sedoo-intranet-page-content"] {
    animation-name: slide_in_left;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}