.sedoo-intranet-page,
[data-role="homepageIntranet"] {

	[class*=intranet-super-tile-type] {
		display: inline-block;
		width: 200px;
		padding: 10px;
		vertical-align: middle;
		margin: 10px;
		position: relative;
		box-shadow: 1px 1px 6px 0px rgba(0,0,0,.2);
		border-radius: var(--borderRadiusTuile);
		color: #111;
		
		h4 {
			text-align: left;
			font-size: .75rem;
			color: #111;
			text-transform: uppercase;
		}

		> a {
			text-decoration: none;
			display: flex;
			align-items: center;

			&:hover {
				background: transparent;
				color: white !important;
			}
		}
		.material-icons {
			font-size: 2rem;
			text-align: center;
			border-radius: 100%;
			display: inline-block;
			color: var(--contactBlock-color);
			transform: scale(0.6);
			transform-origin: center;
			transition: ease all 0.3s;
		}
		&:hover {
			.material-icons {
				transform: scale(0.75);
			}
		}
	}
	
	
	.intranet-super-tile-type-formulaire {
		background: linear-gradient(to right, var(--formulaireBlock-color) 5px, #F0F0F0 5px);
		text-align: left;
		.material-icons {
			color: var(--formulaireBlock-color);
		}
	}
	.intranet-super-tile-type-application {
		background: linear-gradient(to right, var(--applicationBlock-color) 5px, #F0F0F0 5px);
		position: relative;
		a {
			color: white;
		}
		.material-icons {
			color: var(--applicationBlock-color);
		}
	}

	.intranet-super-tile-type-tutelle {
		background-color: #F0F0F0;
		position: relative;

		&:hover::before {
			position: absolute;
			bottom:-30px;
			background-color: #111;
			color: #FFF;
			padding: 5px 10px;
			border-radius: var(--borderRadiusTuile);
			z-index: 3000;
			font-size: .75rem;
		}

		&.cnrs {
			background: linear-gradient(to right, var(--cnrs-color) 2%, #F0F0F0 2%);
			.material-icons {
				color: var(--cnrs-color);
			}
			&:hover::before {
				content:"CNRS";
			}

		}
		&.ird {
			background: linear-gradient(to right, var(--ird-color) 2%, #F0F0F0 2%);
			.material-icons {
				color: var(--ird-color);
			}
			&:hover::before {
				content:"IRD";
			}
		}
		&.ut3 {
			background: linear-gradient(to right, var(--ut3-color) 2%, #F0F0F0 2%);
			.material-icons {
				color: var(--ut3-color);
			}
			&:hover::before {
				content:"UT3";
			}
		}
		&.gouv {
			background: linear-gradient(to right, #1e5799 1%, #ffffff 1%,#ffffff 2%, #cc1622 2%,#cc1622 3%, #F0F0F0 3% );
			position: relative;
			.material-icons {
				color: #333;
			}
			&:hover::before {
				content:"Gouv & autres";
			}
		}
	}
	@media (max-width:545px) {
		[class*=intranet-super-tile-type] {
			width: 100%;
		}
	}
}
